@import './variables.scss';

.aboutList{

  & ::-webkit-scrollbar{
    display: none !important;
  }
}

.stackCard{
  color: $offwhite !important;
}

.stackBtn{
  background-color: rgba($lightgrey, .8);

  .icon{
    color: rgba($black, .8);
  }
}

.stackInfo{
  background-color: rgba($black, .5);
}