@import './variables.scss';

.page{
  // display: grid;
  // grid-template: 100vh / calc(100% - 125px) 125px;
  // grid-template-areas: 'main nav';

  &::-webkit-scrollbar{
    display: none !important;
  }
}

.background{
  background: linear-gradient(-65deg, $offwhite, $beige, $offwhite);
  z-index: -1;
}

.navigation{
  grid-area: nav;
  justify-self: end;
}


.navBtn{
  background: rgba($black, .8);

  &:hover{
    cursor: pointer;
  }
}

.mcBtn{
  div {
    background-color: $offwhite;
  }
}

// @media only screen and (max-width: 639px) {
//   .navLinks{
//     color: $offwhite;
//     background: rgba($black, .8);

//     .icon {
//       color: $offwhite;
//     }
//   }
// }


@media only screen and (min-width: 640px) {
  
  .page{
    display: grid;
    grid-template: 100vh / calc(100% - 125px) 125px;
    grid-template-areas: 'main nav';
  }

  
  .navBtn{
    background: rgba($black, .3);
  }
  
  .mcBtn{
    div {
      background-color: $black;
    }
  }
  
}

@media (prefers-color-scheme: dark){
  .background{
    background-color: $black;
    background: linear-gradient(-65deg, black, $black, black);
  }
  .navBtn{
    background: rgba($beige, .3);
  }

  .navLinks{

    .icon{
      color: $lightgrey;
    }
  }

  .mcBtn{
    div {
      background-color: $lightgrey;
    }
  }
}