@import './variables.scss';

.background{
  background: linear-gradient(-65deg, $offwhite, $beige, $offwhite);
  z-index: -1;
}


.cardOuter{
  transform-style: preserve-3d;
}

.projectCard{
  perspective: 1000;
}

.inner{
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.front, .back{
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.back{
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  border: 2px solid $lightgrey;
  // transform: translateZ(-80px);

  .icons {
    background-color: rgba($black, .25);
    transform-style: preserve-3d;
    transform: translateZ(80px);
  }
  
  .inside {
    // transform-style: preserve-3d;
    // transform: translateZ(80px);
  }

  .btn{
    transform-style: preserve-3d;
    transform: translateZ(80px);
  }
}

.cardInfo{
  color: $offwhite;
  background-color: rgba($black, .5);
}

@media (prefers-color-scheme: dark){
  .background{
    background: linear-gradient(-65deg, black, $black, black);
  }
}